#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.letter {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.found {
  border-color: green !important;
  border: 2px solid;
  background-color: green;
  color: white;
  border-radius: 2px;
}

.notfound {
  border-color: red !important;
  border: 2px solid;
  background-color: red;
  color: white;
  border-radius: 2px;
}

.guessInput {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 50px;
}

.pastGuesses {
  margin-top: 2rem;
}

.restartButton {
  background-color: red;
  color: white;
}

.win {
  background-color: green !important;
}

.error {
  animation-name: highlight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes highlight {
  0% {
    background-color: #ff0000;
  }
  100% {
    background-color: #ffffff;
  }
}
